# Blacklist files/folders in same directory as the .gitignore file

# Whitelist some files
!.gitignore
!README.md
!pluginlib/
!tiddlers/

# Now, whitelist anything that's a directory
!*/

# Ignore all files named .DS_Store or ending with .code-workspace
**/.DS_Store
*.code-workspace
